body {
    color: #262B33;
    font-family: 'Spectral', serif;
}

p {
    font-size: 12px;
}

.main-font {
    font-size: 12px;
}

h5 {
    font-size: 16px;
}

h6 {
    font-size: 14px;
}